@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Poiret One', cursive;
}
.span
{
  width: 100%;
  z-index: 0;
}
p {
	padding-left: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-right: 35em;
}

ul {
	font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.home ul{
	position:absolute !important;
    z-index:999999 !important;
	left: 60%;
	margin-top: -40px;
}

 li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #bcd5d1;
	color: white;
}
.not img {
	float: left;
	width: 150px;
	height: auto;
	margin-top: -30px;
}
.container img {
	max-width: 100%;
	height: auto;
	transition: transform .1s;
	
}
.container img:hover {
    transform: scale(1.04); 
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.news {
	margin-left: 30px;
	margin-right: 20px;
}
.news img {
	float:right;
	height: 150px;
	width: auto;
	
}
