@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
}
.span
{
  width: 100%;
  z-index: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.home ul{
	position:absolute !important;
    z-index:999999 !important;
	left: 60%
}

 li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #bcd5d1;
	color: white;
}
img {
	max-width: 100%;
	height: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
