@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Poiret One', cursive;
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.span
{
  width: 100%;
  z-index: 0;
}
p {
	padding-left: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-right: 35em;
}

ul {
	font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
h2 {
	font-family: 'Open Sans';
	font-weight: 800;
}
.home ul{
	position:absolute !important;
    z-index:999999 !important;
	left: 60%;
	margin-top: -40px;
}

 li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #bcd5d1;
	color: white;
}
.not img {
	float: left;
	width: 150px;
	height: auto;
	margin-top: -30px;
}
.container img {
	max-width: 100%;
	height: auto;
	transition: transform .1s;
	border-style: solid;
    border-color: white;
	border-width:1px;
	
}
.container {
  position: relative
}

.container span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,.8);
}

.container:hover span {
  display: block
}
.container img:hover {
	transform: scale(1.04);  */
	 display: block
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.news {
	margin-left: 30px;
	margin-right: 20px;
}
.news img {
	float:right;
	height: 150px;
	width: auto;
	margin-top:-20px
}

a:hover + div {
    display: block;
}
}
.image {
    position:relative;
    width:200px;
    height:200px;
}
.image img {
    width:100%;
    vertical-align:top;
}
h3 {
	text-align: center;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.sec {
	background-color: white;
	color: #434343;
	padding: 20px;
	padding-bottom: 40px;
}
